{% extends 'base.html' %}
{% block title %}Главная - просмотр всех должностей{% endblock %}
{% block content %}
    <h1>Просмотр всех должностей</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Название должности</th>
            <th>Действие</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% for position in positions %}
        <tr>
            <td>{{ position.title }}</td>
            <td><a href="{% url 'edit_position' position_id=position.id %}">Редактировать</a></td>
            <td>
                <form method="post" action="{% url 'delete_position' position_id=position.id %}">
                    {% csrf_token %}
                    <input  type="submit" value="Удалить">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_position' %}">Добавить должность</a>
    <div>
        <h1>Каталог сотрудников</h1>
        <a href="{% url 'view_all' %}">Просмотр всех сотрудников</a>
    </div>
{% endblock %}
